@font-face {
    font-family: "MadeTOMMY";
    src: url("./madeTOMMY.otf");
}

@font-face {
    font-family: "MadeTOMMYMed";
    src: url("./madeTOMMYMed.otf");
}

@font-face {
    font-family: "Baskerville";
    src: url("./baskerville.ttf");
}

:root {
    --blue: #0C2340;
    --gold: #FFD520;
    --dark-gold: #E6C01D;
    --white: #E8E8FF;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: all 0s linear !important;
    }
}

@media (prefers-reduced-motion: no-preference) {
    * {
        transition: all 0.25s ease-in-out;
    }
}

main {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero {
    width: 100%;
    height: 60vh;

    background-image: linear-gradient(0deg, var(--dark-gold) 0%, var(--gold) 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h2 {
    color: var(--blue);
    font-family: "MadeTOMMYMed", "MadeTOMMY", sans-serif;
    font-size: 20vh;
    margin: -5vh;
    padding: 0;
}