@font-face {
    font-family: "MadeTOMMY";
    src: url("./madeTOMMY.otf");
}

@font-face {
    font-family: "MadeTOMMYMed";
    src: url("./madeTOMMYMed.otf");
}

@font-face {
    font-family: "Baskerville";
    src: url("./baskerville.ttf");
}

* {
    transition: all 1s ease-in-out !important;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#display {
    width: 100vw;

    display: flex;
    align-items: center;
}

@media screen and (orientation: portrait) {
    #display {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #display img {
        margin-left: 0;
    }
}

#display img {
    width: calc(40vw + 40vh);
    height: 40vh;
    z-index: 2;
    margin-left: calc(10vw - 10vh);

    object-fit: contain;
    object-position: right center;
}

#display .playerInfo {
    margin-left: -1px;
    padding: 0 5vw;
    width: 90vw;
    height: 40vh;
    z-index: 1;
    background-color: #0C2340;

    font-family: "MadeTOMMY";
    color: white;
    font-size: calc(1.25vh + 1.25vw);
}

#display .playerInfo .playerName, .playerName * {
    color: #FFD520;
    font-family: "MadeTOMMYMed";
    font-size: calc(3vw + 1vh);
    line-height: 0;

    display: flex;
    margin-right: 0.25em;

    #firstName {
        font-family: "Baskerville" !important;
    }
}
